<%- include('partials/_header') -%>
<!-- end header -->
<div class="contact_section layout_padding">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="contact_taital contact_heading">LOGIN</h1>
      </div>
    </div>
    <div class="contact_section_2">
      <div class="row">
        <div class="col-md-12">
          <div class="mail_section map_form_container">
            <form action="users/login" method="POST">
              <input
                type="email"
                class="mail_text"
                placeholder="Email"
                name="email"
              />
              <input
                type="password"
                class="mail_text"
                placeholder="Password"
                name="password"
              />

              <div class="btn_main">
                <div class="send_bt">
                  <button type="submit" class="send-bt" type="submit">
                    LOGIN
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--  footer -->
<%- include('partials/_footer') -%>
